[class*="__title"] {
  margin-bottom: 80px;
  font-family: Gilroy, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-align: center;
  color: #ffffff;
  & span {
    display: block;
    font-family: Gilroy, sans-serif;
    font-weight: 900;
    font-size: 48px;
    line-height: 61px;
    letter-spacing: 0.1em;
    color: #edc5a2;
  }
}
