section.conditions(id= "conditions")
  .conditions__container
    h2.conditions__title УСЛОВИЯ <span>АРЕНДЫ</span>
    .conditions__inner
      .conditions__acc
        p.conditions__acc-item Бронирование
        .conditions__acc-content.conditions__acc-content--hide
          p - Эксплуатировать автомобиль только в пределах СПб и ЛО. Выезд за пределы ЛО согласовывается индивидуально.
          p - Не нарушать скоростные ограничения и не использовать экстремальные техники вождения.
          p - Не передавать управление другому человеку без оформления на него договора аренды. При желании вы можете бесплатно внести второго водителя в договор аренды.
          p - Не управлять транспортным средством в состоянии алкогольного опьянения.
          p - Не перевозить оружие и вещества, запрещенные законодательством Российской Федерации.
          p - Соблюдать правила парковки
          p - Соблюдать чистоту и не курить в салоне автомобиля.
          p - Перевозить животных только в закрытых переносках, исключающих прямой контакт животных с салоном автомобиля.
          p - Вернуть автомобиль в целости, сохранности, технически исправным и чистым для оперативного осмотра.
        p.conditions__acc-item.conditions__acc-item--active Правила аренды
        .conditions__acc-content
          p - Эксплуатировать автомобиль только в пределах СПб и ЛО. Выезд за пределы ЛО согласовывается индивидуально.
          p - Не нарушать скоростные ограничения и не использовать экстремальные техники вождения.
          p - Не передавать управление другому человеку без оформления на него договора аренды. При желании вы можете бесплатно внести второго водителя в договор аренды.
          p - Не управлять транспортным средством в состоянии алкогольного опьянения.
          p - Не перевозить оружие и вещества, запрещенные законодательством Российской Федерации.
          p - Соблюдать правила парковки
          p - Соблюдать чистоту и не курить в салоне автомобиля.
          p - Перевозить животных только в закрытых переносках, исключающих прямой контакт животных с салоном автомобиля.
          p - Вернуть автомобиль в целости, сохранности, технически исправным и чистым для оперативного осмотра.
        p.conditions__acc-item Обеспечительный платеж
        .conditions__acc-content.conditions__acc-content--hide
          p - Эксплуатировать автомобиль только в пределах СПб и ЛО. Выезд за пределы ЛО согласовывается индивидуально.
          p - Не нарушать скоростные ограничения и не использовать экстремальные техники вождения.
          p - Не передавать управление другому человеку без оформления на него договора аренды. При желании вы можете бесплатно внести второго водителя в договор аренды.
          p - Не управлять транспортным средством в состоянии алкогольного опьянения.
          p - Не перевозить оружие и вещества, запрещенные законодательством Российской Федерации.
          p - Соблюдать правила парковки
          p - Соблюдать чистоту и не курить в салоне автомобиля.
          p - Перевозить животных только в закрытых переносках, исключающих прямой контакт животных с салоном автомобиля.
          p - Вернуть автомобиль в целости, сохранности, технически исправным и чистым для оперативного осмотра.
