section.types(id= "types")
  .types__container
    h2.types__title
      | Виды <span>АРЕНДЫ</span>
    .types__inner
      .types__item
        img(src="@img/types/1.jpg" alt="")
        a.types__btn(href="#") С ВОДИТЕЛЕМ
      .types__item
        img(src="@img/types/2.jpg" alt="")
        a.types__btn(href="#") ДЛЯ ОСОБЫХ ЦЕЛЕЙ
      .types__item
        img(src="@img/types/3.jpg" alt="")
        a.types__btn(href="#") БЕЗ ВОДИТЕЛЯ