.contacts {
  padding-top: 120px;
  padding-bottom: 40px;
  background-image: url("@img/contacts/contacts-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &b {
    display: flex;
  }
  // .contacts__item
  &__item {
    width: 526px;
    margin-left: auto;
    padding-top: 25px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 25px;
    background-color: #2e2b2c;
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    @media (max-width: 548px) {
      width: 280px;
    }
  }
  // .contacts__title
  &__title {
    font-family: Gilroy, sans-serif;
    margin-bottom: 15px;
    padding-bottom: 26px;
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.15) 48.33%,
      rgba(255, 255, 255, 0) 100.87%
    );
  }
  &__link {
    margin-right: 15px;

  }
  // .contacts__img
  &__img {
    margin-right: 15px;
  }
  &__img svg {
    width: 24px;
    height: 24px;
  }
  // .contacts__text
  &__text {
    margin-bottom: 20px;
    padding-bottom: 28px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.15) 48.33%,
      rgba(255, 255, 255, 0) 100.87%
    );
  }
  // .contacts__caption
  &__caption {
    font-family: Gilroy, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #CFCFCF;
  }
  // .contacts__value
  &__value {
    font-family: Gilroy, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
  }
  // .contacts__booking
  &__booking {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    @media (max-width: 548px) {
      flex-direction: column;
    }
  }
  // .contacts__btn
  &__btn {
    display: inline-block;
    padding: 22px 30px;
    font-family: Gilroy, sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #ffffff;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    @media (max-width: 548px) {
      margin-bottom: 15px;;
    }
  }
  // .contacts__booking-call
  &__booking-call {
    display: flex;
    flex-direction: column;
  }
  // .contacts__booking-phone
  &__booking-phone {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 28px;
    color: #ffffff;
    @media (max-width: 548px) {
      margin-bottom: 15px;;
    }
  }
  // .contacts__booking-desc
  &__booking-desc {
    font-family: Gilroy, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: right;
    color: #cfcfcf;
  }
  &__socials {
    display: flex;
    align-items: center;
  }
  // .contacts__socials
  &__socials svg {
    width: 30px;
    height: 30px;
  }
  // .contacts__socials-caption
  &__socials-caption {
    margin-right: 20px;
    font-family: Gilroy, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
  }
  // .contacts__social
  &__social {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}